<div class='sixteen columns'>

<h1>Sign In</h1>
<%= flash[:alert] %>
<form action='/signin' method='post'>
	<label>Enter Username:</label>
	<input type='text'name="username"/><br>
	<label>Enter Password:</label>
	<input type='password' name="password"/>
	<button type="submit">Sign Up!</button>
</form>

</div>