<div class='sixteen columns'>

	<h1>Sign Up</h1>
<form action='/signup' method='post'>
	<label>Enter Username:</label>
	<input type='text'name="username"/><br>
	<label>Enter Password:</label>
	<input type='password' name="password"/>
	<button type="submit">Sign Up!</button>
</form>



</div>